In [ ]:
import pandas as pd
df=pd.read_csv("kindle_reviews.csv", on_bad_lines='skip', engine='python')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212834 entries, 0 to 212833
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      212834 non-null  int64
 1   asin            212834 non-null  object
 2   helpful         212834 non-null  object
 3   overall         212834 non-null  int64
 4   reviewText      212829 non-null  object
 5   reviewTime      212834 non-null  object
 6   reviewerID      212834 non-null  object
 7   reviewerName    211087 non-null  object
 8   summary         212772 non-null  object
 9   unixReviewTime  212834 non-null  int64
dtypes: int64(3), object(7)
memory usage: 16.2+ MB

In [ ]:
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [ ]:
df=df.drop(columns=['Unnamed: 0', 'asin', 'helpful', 'reviewTime', 'reviewerID', 'reviewerName', 'unixReviewTime' , "summary"])

In [ ]:
df.head()

   overall                                         reviewText
0        5  I enjoy vintage books and movies so I enjoyed ...
1        4  This book is a reissue of an old one; the auth...
2        4  This was a fairly interesting read.  It had ol...
3        5  I'd never read any of the Amy Brewster mysteri...
4        4  If you like period pieces - clothing, lingo, y...

In [ ]:
df.isnull().sum()

overall       0
reviewText    5
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.isnull().sum()

overall       0
reviewText    0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(9)

In [ ]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

/tmp/ipython-input-2101504858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

np.int64(0)

In [ ]:
df["overall"].value_counts()

overall
5    106325
4     61643
3     27385
2     10412
1      7055
Name: count, dtype: int64

In [ ]:
df['overall']=df['overall'].apply(lambda x: 1 if x>3 else 0)

/tmp/ipython-input-1006620601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall']=df['overall'].apply(lambda x: 1 if x>3 else 0)

In [ ]:
df['overall'].value_counts()

overall
1    167968
0     44852
Name: count, dtype: int64

In [ ]:
df['reviewText']=df['reviewText'].str.lower()

/tmp/ipython-input-2784960931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].str.lower()

In [ ]:
df['reviewText']

0         i enjoy vintage books and movies so i enjoyed ...
1         this book is a reissue of an old one; the auth...
2         this was a fairly interesting read.  it had ol...
3         i'd never read any of the amy brewster mysteri...
4         if you like period pieces - clothing, lingo, y...
                                ...
212829    not your best work eric. you do so much great ...
212830    there is one constant with the works of mr. br...
212831    i received this book as an advance review copy...
212832    well, leave it to eric s. brown to do it again...
212833    having heard so many good things about eric's ...
Name: reviewText, Length: 212820, dtype: object

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from bs4 import BeautifulSoup

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df['reviewText']=df['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))

/tmp/ipython-input-1055072799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))

In [ ]:
df['reviewText']=df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

/tmp/ipython-input-3089351947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

In [ ]:
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

In [ ]:
df['reviewText']=df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())

In [ ]:
df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))